.all {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: grey;
}

.heading
{
    position: fixed;
    background-color: red;
}

.sidebar-content
{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: royalblue;
    position: fixed;
    width: 15%;
    /* height: 100vh; */
}

.content{
    background-color: gray;
    width: 85%;
    height: 100vh;
}