.card {
  width: 200px; /* Reduced width */
  height: auto; /* Automatically adjusts based on content */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.card:hover {
  transform: Scale(1.03);
  box-shadow: 0 8px 20px rgba(159, 158, 159, 0.799);
}

.poster {
  width: 100%;
  aspect-ratio: 2 / 2;
  object-fit: cover;
  /* border-bottom: 2px solid #eee; */
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:hover .title {
  color: #007bff;
}
